#header {
	background-image: url("../images/header.png");
	background-size: cover;

	z-index: -1;
	height: 100vh;
	width: 100vw;
	padding: 0;
	display: table-cell;
	#nav-logo {
	width: 77px;
	}
	#header-text {
	padding-top: 190px;
	padding-bottom: 232px;
	text-align:center;
	height: 100%;
	#title {
		font-family: $title;
		font-size: $xxl;
		color: $primary;
		margin-bottom: 20px;
	}
	#sub-title {
		font-family: $subtitle;
		font-size: $l;
		color: $secondary;
		margin-bottom: 20px;
		}
	}
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 11px;
	margin-right: 25px;
}
.nav-link {
	font-size: $s;
	font-family: RalewaySemiBold;
}

.nav-icon {
	padding-top: 6px;
}

nav li {
	margin-right: 25px;
}

.nav-icon-list {
	margin-right: 16px;
}


/* change the background color */
.navbar.navbar-transparent.navbar-custom {
	background-color: red;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #cc7c8b;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #cc7c8b
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    border-bottom: 1px solid #cc7c8b;
    color: #cc7c8b;
}

.navbar-custom .navbar-nav .nav-link {
    color: #cc7c8b;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
}

